@model MvcCorePractice1.Models.RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";
}
<form method="post" asp-action="Register">
    <div class="row">
        <label class="form-label" asp-for="Email"></label>
        <input type="email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="row">
        <label class="form-label" asp-for="UserName"></label>
        <input type="text" class="form-control" asp-for="UserName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="row">
        <label class="form-label" asp-for="Mobile"></label>
        <input class="form-control" asp-for="Mobile" />
        <span asp-validation-for="Mobile" class="text-danger"></span>
    </div>
    <div class="row">
        <label class="form-label" asp-for="Password"></label>
        <input type="password" class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="row">
        <label class="form-label" asp-for="RePassword"></label>
        <input type="password" class="form-control" asp-for="RePassword" />
        <span asp-validation-for="RePassword" class="text-danger"></span>
    </div>
    <input type="submit" value="ثبت نام" class="btn btn-success" />
</form>

@* @section Scripts {
    @{
        await Html.RenderPartialAsync("ValidationScriptsPartial"); 
    }
    } *@